{% extends 'admin/layout.html' %}

{% block content %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-8">
                <h4><strong>Gallery List</strong></h4>
            </div>
            <div class="col-md-4">
                <a href="{% url 'gallery_create' %}" class="btn btn-success btn-sm pull-right">Add New Image/Video</a>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class='alert alert-success' role='alert'>
                <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
                {{ message }}
                <span class='sr-only'>Success:</span>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class='alert alert-danger' role='alert'>
                <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>
                {{ message }}
                <span class='sr-only'>Error:</span>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Image/Thumbnail</th>
                            <th>Type</th>
                            <th>URL</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gal in gallery %}
                        <tr>
                            <td>{{ gal.id }}</td>
                            <td>{{ gal.title }}</td>
                            <td>
                                <img src="{% if gal.iv == 'Image' %}{{ gal.image.url }}{% else %}https://img.youtube.com/vi/{{ gal.url }}/1.jpg{% endif %}" height="60">
                            </td>
                            <td>{{ gal.iv }}</td>
                            <td>{{ gal.url }}</td>
                            <td>{{ gal.category }}</td>
                            <td>
                                <form method="POST" onclick="return confirm('Are you sure to delete this item?')"
                                    action="{% url 'gallery_delete' gal.id %}">
                                    {% csrf_token %}
                                    <a href="{% url 'gallery_delete' gal.id %}">
                                        <button type="button" class="btn btn-box-tool text-red" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ gallery.paginator }}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}
