<div class="sidebarLayout">
    <div class="innerWrapperSidebar mb-30">
        <div class="sidebarWidget">
            <div class="sidebarTitle">
                <h5 class="sidebarTitle__heading text-uppercase mb-30">Direct Contact us</h5>
            </div>
            <div class="sidebarContacts">
                <input type="text" class="sidebarContacts__input" placeholder="Enter name*">
                <input type="email" class="sidebarContacts__input" placeholder="Enter your mail*">
                <textarea class="sidebarContacts__input textarea" name="message" id="message" placeholder="Massage*"></textarea>
                <a class="btn btn--styleOne btn--primary it-btn" href="javascript:void(0)" id="openPopupBtn" >
                    <span class="btn__text">send massage</span>
                    <span class="it-btn__inner">
                        <span class="it-btn__blobs">
                            <span class="it-btn__blob"></span>
                            <span class="it-btn__blob"></span>
                            <span class="it-btn__blob"></span>
                            <span class="it-btn__blob"></span>
                        </span>
                    </span>
                    <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <filter>
                                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                </feColorMatrix>
                                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                            </filter>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="innerWrapperSidebar mb-30">
        <div class="sidebarWidget">
            <div class="sidebarTitle">
                <h5 class="sidebarTitle__heading text-uppercase mb-30">Contact Info..</h5>
            </div>
            <div class="sidebarContact">
                <ul>
                    <li>
                        <span>Adress :</span>
                            Jude Patrick Roadics House No 1, Uttan Road, Nr. Stella Maris Hospital Bhyander(West),Thane-401105
                    </li>
                    <li>
                        <span>Mail :</span>
                        SecondChildhoodTrust@info.com
                    </li>
                    <li>
                        <span>Phone :</span>
                        +917506960111
                    </li>
                    <!-- <li>
                        <span>Fax id :</span>
                        +9 659459 49594
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
