<!-- hero.html -->
{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
<!-- Hero/Welcome Section Start -->
<section class="hero hero--style2">
    <div class="container container--custom slick-hero">
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
          <div class="hero__content text-center">
            <span class="hero__title hero__title--small">Give your hand</span>
            <h1 class="hero__title hero__title--big">To The homeless</h1>
            <div class="hero__topDown">
              <a class="btn btn--styleOne btn--icon it-btn" href="javascript:void(0)" id="openPopupBtn">
                <svg class="btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.869141 8.70508L1.45508 8.11914C1.60156 8.00195 1.80664 8.00195 1.95312 8.14844L4.23828 10.4922V0.414062C4.23828 0.208984 4.38477 0.0625 4.58984 0.0625H5.41016C5.58594 0.0625 5.76172 0.208984 5.76172 0.414062V10.4922L8.01758 8.14844C8.16406 8.00195 8.36914 8.00195 8.51562 8.11914L9.10156 8.70508C9.21875 8.85156 9.21875 9.05664 9.10156 9.20312L5.23438 13.0703C5.08789 13.1875 4.88281 13.1875 4.73633 13.0703L0.869141 9.20312C0.751953 9.05664 0.751953 8.85156 0.869141 8.70508Z" fill="#60646B"></path>
                </svg>
                <span class="it-btn__inner">
                <span class="it-btn__blobs">
                  <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                </span>
                </span>
                <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <defs>
                    <filter>
                      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                      </feColorMatrix>
                      <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                    </filter>
                  </defs>
                </svg>
              </a>
              <span class="hero__topDown__text">Scrool Down</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <figure class="hero__figure hero__figure--style2">
            <img src="static/image/illus/hero-bg-thumb-2.jpg" alt="Second ChildHood Trust Man" class="hero__figure__thumbs">
          </figure>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
          <div class="hero__content text-center">
            <span class="hero__title hero__title--small">Give your hand</span>
            <h1 class="hero__title hero__title--big">To The homeless</h1>
            <div class="hero__topDown">
              <a class="btn btn--styleOne btn--icon it-btn" href="javascript:void(0)" id="openPopupBtn">
                <svg class="btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.869141 8.70508L1.45508 8.11914C1.60156 8.00195 1.80664 8.00195 1.95312 8.14844L4.23828 10.4922V0.414062C4.23828 0.208984 4.38477 0.0625 4.58984 0.0625H5.41016C5.58594 0.0625 5.76172 0.208984 5.76172 0.414062V10.4922L8.01758 8.14844C8.16406 8.00195 8.36914 8.00195 8.51562 8.11914L9.10156 8.70508C9.21875 8.85156 9.21875 9.05664 9.10156 9.20312L5.23438 13.0703C5.08789 13.1875 4.88281 13.1875 4.73633 13.0703L0.869141 9.20312C0.751953 9.05664 0.751953 8.85156 0.869141 8.70508Z" fill="#60646B"></path>
                </svg>
                <span class="it-btn__inner">
                <span class="it-btn__blobs">
                  <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                </span>
                </span>
                <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <defs>
                    <filter>
                      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                      </feColorMatrix>
                      <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                    </filter>
                  </defs>
                </svg>
              </a>
              <span class="hero__topDown__text">Scrool Down</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <figure class="hero__figure hero__figure--style2">
            <img src="static/image/illus/hero-bg-thumb-1.jpg" alt="Second ChildHood Trust Man" class="hero__figure__thumbs">
          </figure>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
          <div class="hero__content text-center">
            <span class="hero__title hero__title--small">Give your hand</span>
            <h1 class="hero__title hero__title--big">To The homeless</h1>
            <div class="hero__topDown">
              <a class="btn btn--styleOne btn--icon it-btn" href="javascript:void(0)" id="openPopupBtn">
                <svg class="btn__icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.869141 8.70508L1.45508 8.11914C1.60156 8.00195 1.80664 8.00195 1.95312 8.14844L4.23828 10.4922V0.414062C4.23828 0.208984 4.38477 0.0625 4.58984 0.0625H5.41016C5.58594 0.0625 5.76172 0.208984 5.76172 0.414062V10.4922L8.01758 8.14844C8.16406 8.00195 8.36914 8.00195 8.51562 8.11914L9.10156 8.70508C9.21875 8.85156 9.21875 9.05664 9.10156 9.20312L5.23438 13.0703C5.08789 13.1875 4.88281 13.1875 4.73633 13.0703L0.869141 9.20312C0.751953 9.05664 0.751953 8.85156 0.869141 8.70508Z" fill="#60646B"></path>
                </svg>
                <span class="it-btn__inner">
                <span class="it-btn__blobs">
                  <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                <span class="it-btn__blob"></span>
                </span>
                </span>
                <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <defs>
                    <filter>
                      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                      </feColorMatrix>
                      <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                    </filter>
                  </defs>
                </svg>
              </a>
              <span class="hero__topDown__text">Scrool Down</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <figure class="hero__figure hero__figure--style2">
            <img src="static/image/illus/hero-bg-thumb-2.jpg" alt="Second ChildHood Trust Man" class="hero__figure__thumbs">
          </figure>
        </div>
      </div>
    </div>
</section>
<!-- Hero/Welcome Section End -->

<!-- Feature -->

<!-- Initialize Slick Carousel -->
<script>
    $(document).ready(function(){
        $('.slick-hero').slick({
            dots: true, // Display dots navigation
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            autoplay: true,         // Autoplay option
            autoplaySpeed: 3000     // Autoplay speed in milliseconds (adjust as needed)
        });
    });
</script>

<!-- Hero/Welcome Section End -->
<!-- Feature -->
<section class="feature pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="featureTab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Live
                                Donation</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Donation For
                                Medical</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Donation For
                                Food</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="featureTab__content">
                                <div class="sponsorsTitle sponsorsTitle--style2">
                                    <span class="sponsorsTitle__line"></span>
                                    <h2 class="sponsorsTitle__heading text-uppercase">Donate For Eldery Homeless</h2>
                                    <span class="sponsorsTitle__line"></span>
                                </div>
                                <h3 class="featureTab__content__counter">28,000</h3>
                                <div class="featureBlock__donation__progress">
                                    <div class="featureBlock__donation__bar">
                                        <span class="featureBlock__donation__text skill-bar skill-bar--text"
                                            data-width="30%"><span>30%</span></span>
                                        <div class="featureBlock__donation__line">
                                            <span class="skill-bars">
                                                <span class="skill-bars__line skill-bar" data-width="30%"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="featureTab__content">
                                <div class="sponsorsTitle sponsorsTitle--style2">
                                    <span class="sponsorsTitle__line"></span>
                                    <h2 class="sponsorsTitle__heading text-uppercase">Donate For Medical To Eldery</h2>
                                    <span class="sponsorsTitle__line"></span>
                                </div>
                                <h3 class="featureTab__content__counter">29,000</h3>
                                <div class="featureBlock__donation__progress">
                                    <div class="featureBlock__donation__bar">
                                        <span class="featureBlock__donation__text skill-bar skill-bar--text"
                                            data-width="40%"><span>40%</span></span>
                                        <div class="featureBlock__donation__line">
                                            <span class="skill-bars">
                                                <span class="skill-bars__line skill-bar" data-width="40%"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="featureTab__content">
                                <div class="sponsorsTitle sponsorsTitle--style2">
                                    <span class="sponsorsTitle__line"></span>
                                    <h2 class="sponsorsTitle__heading text-uppercase">Donate For Food</h2>
                                    <span class="sponsorsTitle__line"></span>
                                </div>
                                <h3 class="featureTab__content__counter">50,000</h3>
                                <div class="featureBlock__donation__progress">
                                    <div class="featureBlock__donation__bar">
                                        <span class="featureBlock__donation__text skill-bar skill-bar--text"
                                            data-width="50%"><span>50%</span></span>
                                        <div class="featureBlock__donation__line">
                                            <span class="skill-bars">
                                                <span class="skill-bars__line skill-bar" data-width="50%"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-35">
            <div class="col-lg-3">
                <div class="keyFeatureBlock keyFeatureBlock--style2 mb-30">
                    <div class="keyFeatureBlock__left">
                        <span class="keyFeatureBlock__icon">
                            <img src="static/image/featured/accomandation.webp"
                                alt="Second ChildHood Trust Feature_Icon">
                        </span>
                    </div>
                    <div class="keyFeatureBlock__content">
                        <h3 class="keyFeatureBlock__heading">
                            <a class="keyFeatureBlock__heading__link" href="javascript:void(0)">
                                Accomandation
                            </a>
                        </h3>
                        <p class="keyFeatureBlock__text">All our accommodation rooms are well-furnished and come with
                            plenty of in-room amenities.</p>
                        <a class="keyFeatureBlock__link" href="#">
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="keyFeatureBlock keyFeatureBlock--style2 mb-30">
                    <div class="keyFeatureBlock__left">
                        <span class="keyFeatureBlock__icon">
                            <img src="static/image/featured/interaction.webp" alt="Second ChildHood Trust Feature_Icon">
                        </span>
                    </div>
                    <div class="keyFeatureBlock__content">
                        <h3 class="keyFeatureBlock__heading">
                            <a class="keyFeatureBlock__heading__link" href="javascript:void(0)">
                                Interaction Centre
                            </a>
                        </h3>
                        <p class="keyFeatureBlock__text">We try and initiate a better understanding of the problems of
                            ageing from a social perspective.</p>
                        <a class="keyFeatureBlock__link" href="#">
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="keyFeatureBlock keyFeatureBlock--style2 mb-30">
                    <div class="keyFeatureBlock__left">
                        <span class="keyFeatureBlock__icon">
                            <img src="static/image/featured/medical.webp" alt="Second ChildHood Trust Feature_Icon">
                        </span>
                    </div>
                    <div class="keyFeatureBlock__content">
                        <h3 class="keyFeatureBlock__heading">
                            <a class="keyFeatureBlock__heading__link" href="javascript:void(0)">
                                Medical Check-Up
                            </a>
                        </h3>
                        <p class="keyFeatureBlock__text">We conduct routine medical check-ups and provide medication to
                            all our elderly patients.</p>
                        <a class="keyFeatureBlock__link" href="#">
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="keyFeatureBlock keyFeatureBlock--style2 mb-30">
                    <div class="keyFeatureBlock__left">
                        <span class="keyFeatureBlock__icon">
                            <img src="static/image/featured/nursing.webp" alt="Second ChildHood Trust Feature_Icon">
                        </span>
                    </div>
                    <div class="keyFeatureBlock__content">
                        <h3 class="keyFeatureBlock__heading">
                            <a class="keyFeatureBlock__heading__link" href="javascript:void(0)">
                                Nursing And Personal Care
                            </a>
                        </h3>
                        <p class="keyFeatureBlock__text">We provide self-contained rooms and 24 hour nursing & personal
                            care for aged people.</p>
                        <a class="keyFeatureBlock__link" href="#">
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                            <span class="keyFeatureBlock__link__dot"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature End -->
<!-- About && Features && Donner Section -->
<section class="about">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 mb-30">
                <div class="aboutContent aboutContent--style2">
                    <!-- Section Heading/Title -->
                    <div class="sectionTitle mb-20">
                        <span class="sectionTitle__small">
                            <i class="fas fa-heart btn__icon"></i>
                            about foundation
                        </span>
                        <h2 class="sectionTitle__big">what have we done with
                            your help</h2>
                    </div>
                    <!-- Section Heading/Title End -->
                    <p class="aboutContent__text">
                        We, Trustcare Old Age Home, situated at Malad West, Mumbai, Maharashtra help in providing a
                        quality and respectful living for senior citizens with the help of qualified professionals, with
                        a dream to nurture each other's growth in a spirit of commitment, trust and transparency. We
                        create a friendly, caring and family-like atmosphere for the elderly people, where they can
                        share their joys and sorrows and live happily.
                    </p>
                    <span class="aboutContent__quote">join our Action and everyone can help</span>
                    <div class="aboutContent__buttons">
                        <a class="btn btn--styleOne btn--secondary it-btn" href="javascript:void(0)" id="openPopupBtn">
                            <span class="btn__text">donate now</span>
                            <i class="fas fa-heart btn__icon"></i>
                            <span class="it-btn__inner">
                                <span class="it-btn__blobs">
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                </span>
                            </span>
                            <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                    <filter>
                                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                                        </feGaussianBlur>
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                        </feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                        <a class="btn btn--styleOne btn--primary it-btn" href="">
                            <span class="btn__text">became a volenteer</span>
                            <i class="fas fa-heart btn__icon"></i>
                            <span class="it-btn__inner">
                                <span class="it-btn__blobs">
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                    <span class="it-btn__blob"></span>
                                </span>
                            </span>
                            <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                    <filter>
                                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                                        </feGaussianBlur>
                                        <feColorMatrix in="blur" mode="matrix"
                                            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                        </feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="aboutThumb">
                    <div class="aboutThumb__text">
                        <span class="aboutThumb__text__title">..Since..</span>
                        <span class="aboutThumb__text__year">1998</span>
                    </div>
                    <figure class="aboutThumb__figure m-0">
                        <img src="static/image/about/banner1.webp" alt="Second ChildHood Trust About">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About && Features && Doner End -->
<!-- Facts -->
<section class="fact fact--layout1 position-relative pt-125 pb-95">
    <img src="static/image/map/map-fact.png" alt="Second ChildHood Trust" class="fact__map position-absolute">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 mx-auto">
                <!-- Section Heading/Title -->
                <div class="sectionTitle text-center mb-65">
                    <span class="sectionTitle__small justify-content-center">
                        <i class="fas fa-heart btn__icon"></i>
                        need your help
                    </span>
                    <h2 class="sectionTitle__big">we are always where others need help</h2>
                </div>
                <!-- Section Heading/Title End -->
            </div>
        </div>
        <div class="factWrapper">
            <div class="row gx-50">
                <div class="col-lg-4">
                    <div class="factBlock factBlock--one">
                        <h3 class="factBlock__heading"><span class="factBlock__number">16000,</span><span
                                class="factBlock__ext">kg</span>
                        </h3>
                        <span class="factBlock__tag">Food</span>
                        <p class="factBlock__text">We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="factBlock factBlock--two">
                        <h3 class="factBlock__heading"><span class="factBlock__number">23,</span><span
                                class="factBlock__ext">mln</span>
                        </h3>
                        <span class="factBlock__tag">Food</span>
                        <p class="factBlock__text">We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="factBlock factBlock--three">
                        <h3 class="factBlock__heading"><span class="factBlock__number">14,000</span><span
                                class="factBlock__ext">+</span>
                        </h3>
                        <span class="factBlock__tag">Food</span>
                        <p class="factBlock__text">We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="factWrapper factWrapper--two">
            <div class="row justify-content-center gx-50">
                <div class="col-lg-4">
                    <div class="factBlock factBlock--four">
                        <h3 class="factBlock__heading"><span class="factBlock__number">16000,</span><span
                                class="factBlock__ext">kg</span>
                        </h3>
                        <span class="factBlock__tag">Food</span>
                        <p class="factBlock__text">We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="factBlock factBlock--five">
                        <h3 class="factBlock__heading"><span class="factBlock__number">23,</span><span
                                class="factBlock__ext">mln</span>
                        </h3>
                        <span class="factBlock__tag">Food</span>
                        <p class="factBlock__text">We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
            </div>
        </div>
        {{-- <div class="volunteer pt-130">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-30">
                        <div class="volunteerUser">
                            <div class="volunteerUser__box">
                                <div class="volunteerUser__thumb">
                                    <img src="static/image/utilites/volunteer-thumb1.jpg"
                                        alt="Second ChildHood Trust volunteer">
                                </div>
                                <div class="volunteerUser__profile">
                                    <ul>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user1.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user2.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user3.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user4.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user5.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="static/image/users/volunteer-user6.jpg"
                                                    alt="Second ChildHood Trust"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-30">
                        <div class="aboutContent aboutContent--style3">
                            <!-- Section Heading/Title -->
                            <div class="sectionTitle mb-20">
                                <span class="sectionTitle__small">
                                    <i class="fas fa-heart btn__icon"></i>
                                    volunteer
                                </span>
                                <h2 class="sectionTitle__big">Join with us Became a
                                    volunteer</h2>
                            </div>
                            <!-- Section Heading/Title End -->
                            <span class="aboutContent__quote text-uppercase">More than 200+ People alreyday Join with
                                us</span>
                            <p class="aboutContent__text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form,
                                by injected humour, or randomised words which don't look even slightly believable. If
                                you are going to
                                use a passage of
                                Lorem Ipsum, you need be sure there isn't anything embarrassing hidden in the middle
                                There are many
                                variations of
                                passages of Lorem Ipsum available
                            </p>
                            <div class="aboutContent__buttons">
                                <a class="btn btn--styleOne btn--primary it-btn" href="javascript:void(0)"
                                    id="openPopupBtn">
                                    <span class="btn__text">became a volenteer</span>
                                    <i class="fas fa-heart btn__icon"></i>
                                    <span class="it-btn__inner">
                                        <span class="it-btn__blobs">
                                            <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                            <span class="it-btn__blob"></span>
                                        </span>
                                    </span>
                                    <svg class="it-btn__animation" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <defs>
                                            <filter>
                                                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10">
                                                </feGaussianBlur>
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
                                                </feColorMatrix>
                                                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                            </filter>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Facts End -->
<!-- Sponsors -->
<section class="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sponsorsTitle">
                    <span class="sponsorsTitle__line"></span>
                    <h2 class="sponsorsTitle__heading text-uppercase">“ Become Support Partner ”</h2>
                    <span class="sponsorsTitle__line"></span>
                </div>
            </div>
        </div>
        <!-- Assuming sponsors is a queryset or list of sponsor objects passed from your Django view -->
        <div class="sponsor-slider-active swiper">
            <div class="swiper-wrapper">
                {% for sponsor in sponsors %}
                <div class="swiper-slide">
                    <div class="sponsorsItem" style="filter: unset">
                        {% with image_url='/assets/images/sponsor/'|add:sponsor.image %}
                                <img  src="{% static image_url %}" alt="{{ sponsor.name }}">
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<!-- Sponsors End -->
<section class="review review--layout2 position-relative overflow-hidden">
    <div class="container-fluid p-0">
      <div class="testi-slider-active2 swiper row g-0">
        <div class="swiper-wrapper">
          {% for testimonial in testimonials %}
          <div class="swiper-slide col-6">
            <div class="review__box mb-30" style="margin: 5px">
              <div class="reviewblock reviewblock--style3 text-center">
                <div class="reviewblock__content">
                  <div class="reviewblock__author">
                    {% with image_url='/assets/images/testimonial/'|add:testimonial.image %}
                            <img class="reviewblock__author__image" src="{% static image_url %}" alt="Second ChildHood Trust Reviewer">
                    {% endwith %}
                    <span class="reviewblock__author__name d-block mb-25">{{ testimonial.name }}</span>
                  </div>
                  <span class="reviewblock__quoteIcon__one">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.75 10.9951H18V7.99512C18 6.35449 19.3125 4.99512 21 4.99512H21.375C21.9844 4.99512 22.5 4.52637 22.5 3.87012V1.62012C22.5 1.01074 21.9844 0.495117 21.375 0.495117H21C16.8281 0.495117 13.5 3.87012 13.5 7.99512V19.2451C13.5 20.5107 14.4844 21.4951 15.75 21.4951H21.75C22.9688 21.4951 24 20.5107 24 19.2451V13.2451C24 12.0264 22.9688 10.9951 21.75 10.9951ZM8.25 10.9951H4.5V7.99512C4.5 6.35449 5.8125 4.99512 7.5 4.99512H7.875C8.48438 4.99512 9 4.52637 9 3.87012V1.62012C9 1.01074 8.48438 0.495117 7.875 0.495117H7.5C3.32812 0.495117 0 3.87012 0 7.99512V19.2451C0 20.5107 0.984375 21.4951 2.25 21.4951H8.25C9.46875 21.4951 10.5 20.5107 10.5 19.2451V13.2451C10.5 12.0264 9.46875 10.9951 8.25 10.9951Z" fill="#EB9309" />
                    </svg>
                  </span>
                  <h4 class="reviewblock__qotes">“ {{ testimonial.description }} “</h4>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="it-pagination"></div>
      </div>
    </div>
  </section>
  <section class="blog pb-55">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <!-- Section Heading/Title -->
          <div class="sectionTitle text-center mb-60">
            <span class="sectionTitle__small justify-content-center">
              <i class="fas fa-heart btn__icon"></i>
              Newsfeds
            </span>
            <h2 class="sectionTitle__big">Latest News & Article</h2>
          </div>
          <!-- Section Heading/Title End -->
        </div>
      </div>
      <div class="row">
        {% for blog in blogs %}
        <div class="col-md-6">
          <div class="blogBlock blogBlock--style2 mb-60">
            <figure class="blogBlock__figure blog_img">
              <a href="{% url 'blog_detail' blog.id %}" class="blogBlock__figure__link">
                {% with image_url='/assets/images/blog/'|add:blog.image %}
                <img src="{% static image_url %}" alt="{{ blog.title }}" class="blogBlock__figure__image">
                {% endwith %}
              </a>
            </figure>
            <div class="blogBlock__content">
              <div class="blogBlock__header">
                <span class="blogBlock__tag tag mb-20">Health</span>
                <h2 class="blogBlock__heading heading text-uppercase mb-20">
                  <a class="blogBlock__heading__link" href="{% url 'blog_detail' blog.id %}">
                    {{ blog.title|slice:":60" }}
                  </a>
                </h2>
              </div>
              <div class="blogBlock__body mb-30">
                <p class="blogBlock__text text">
                  {{ blog.description|slice:":100"|safe }}
                </p>
              </div>
              <div class="blogBlock__meta">
                <ul class="blogBlock__meta__list">
                  <li>
                    <a class="blogBlock__metaUser" href="#">
                      <img class="blogBlock__metaUser__thumb" src="{% static 'image/users/user2.jpg' %}" alt="Second ChildHood Trust User">
                      <span class="blogBlock__metaUser__name">Admin</span>
                    </a>
                  </li>
                  <li>
                    <button class="blogBlock__reactButton">
                      <span class="blogBlock__reactButton__count">{{ blog.views | default:0 }}<p></span>
                        <i class="fas fa-heart"></i>
                    </button>
                  </li>
                  <li>
                    <div class="blogBlock__date">
                        <span class="blogBlock__date__text">{{ blog.created_at|date:"Y M D H:I" }}</span>
                        <i class="fas fa-clock"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
{% endblock %}